.menubar {
  left: 0;
  width: 200px;
  padding: 60px 20px;
  border-right: 1px solid #e9e9e9;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #2a3034;
  margin: 8px;
}
