<div class="setting">
  <ng-container *ngIf="isSizeSetting && LinkService.linkSizes">
    <div class="title-setting">
      <div class="title">Link Size</div>
      <div class="subtitle">- {{ LinkService.selected.col }} size -</div>
    </div>
    <app-setting-range-slider
      label="Font Size"
      min="1"
      max="30"
      [value]="linkSize.fontSize"
      (valueChange)="changeSize($event, 'fontSize', 'change')"
      (valueOutput)="changeSize($event, 'fontSize', 'output')"
    ></app-setting-range-slider>
    <app-font-weight-setting
      [selected]="linkSize.fontWeight"
      (selectedChange)="changeSize($event, 'fontWeight', 'output')"
    ></app-font-weight-setting>
  </ng-container>

  <ng-container *ngIf="isTypeSetting && LinkService.linkTypes">
    <div class="title-setting">
      <div class="title">Link Type</div>
      <div class="subtitle">
        - {{ LinkService.selected.row }} {{ LinkService.selected.col }} link -
      </div>
    </div>
    <app-color-list-setting
      label="Font Color"
      [selected]="ColorService.getColorSystem(this.linkState.font, mainColor)"
      [mainColor]="mainColor"
      (selectedChange)="changeType($event, 'font', 'output')"
    ></app-color-list-setting>
    <app-checkbox
      label="Text Decoration"
      name="underline"
      [checked]="linkState.textDecoration === 'underline'"
      (checkBoxChange)="changeType($event, 'textDecoration', 'output')"
    ></app-checkbox>
  </ng-container>
</div>
