<div class="label">
  <div>{{ label }}</div>
  <input
    *ngIf="hasCheckbox"
    type="checkbox"
    [checked]="checked"
    [(ngModel)]="checked"
    (ngModelChange)="checkBoxChanged()"
  />
</div>

<div class="input-range">
  <input
    type="range"
    [min]="min"
    [max]="max"
    [(ngModel)]="value"
    (ngModelChange)="valueChanged($event, 'change')"
    (blur)="valueChanged($event, 'output')"
    [disabled]="!checked"
  />
  <input
    type="number"
    [min]="min"
    [(ngModel)]="value"
    (ngModelChange)="valueChanged($event, 'change')"
    (blur)="valueChanged($event, 'output')"
    [disabled]="!checked"
  />
</div>
