<div class="container">
  <div class="template">
    <div *ngIf="isBase">
      <h2>Brand Colors</h2>
      <div class="row">
        <div class="scale-color" *ngFor="let color of brandColors">
          <app-base-color [color]="color" size="xl"></app-base-color>
          {{ color }}
        </div>
      </div>

      <h2>System Colors</h2>
      <div class="row">
        <div class="scale-color" *ngFor="let color of systemColors">
          <app-base-color [color]="color" size="l"></app-base-color>
          {{ color }}
        </div>
      </div>

      <h2>Natural Colors</h2>
      <div class="row">
        <div class="scale-color" *ngFor="let color of naturalColors">
          <app-base-color [color]="color" size="l"></app-base-color>
          {{ color }}
        </div>
      </div>
    </div>

    <div *ngIf="!isBase">
      <h2>Color Scales</h2>
      <div class="row base-color">
        <div class="scale-color" *ngFor="let color of DscColor.brandColors">
          <app-base-color [color]="color" size="m"></app-base-color>
        </div>
        <div class="scale-color" *ngFor="let color of DscColor.systemColors">
          <app-base-color [color]="color" size="m"></app-base-color>
        </div>
      </div>
      <div class="column">
        <div *ngFor="let shade of DscColor.shades">
          <div class="row">
            <div class="scale-color" *ngFor="let color of DscColor.brandColors">
              <app-base-color [color]="color" [shade]="shade" size="s"></app-base-color>
            </div>
            <div class="scale-color" *ngFor="let color of DscColor.systemColors">
              <app-base-color [color]="color" [shade]="shade" size="s"></app-base-color>
            </div>
          </div>
        </div>
      </div>
      <h2>Gray Scales</h2>
      <div class="row base-color">
        <div class="scale-color" *ngFor="let color of DscColor.naturalColors">
          <app-base-color [color]="color" size="m"></app-base-color>
        </div>
      </div>
      <div class="row">
        <div class="scale-color" *ngFor="let shade of DscColor.shades">
          <app-base-color color="gray" [shade]="shade" size="s"></app-base-color>
        </div>
      </div>
    </div>
  </div>

  <app-dsc-color-setting></app-dsc-color-setting>
</div>
