<div class="setting">
  <div class="btn-group">
    <button
      class="btn left-btn"
      [class.selected]="this.isSelected('base')"
      (click)="onSelect('base')"
    >
      Base
    </button>
    <button
      class="btn right-btn"
      [class.selected]="this.isSelected('scale')"
      (click)="onSelect('scale')"
    >
      Scale
    </button>
  </div>

  <div *ngIf="ColorService.displayContainer === 'scale'" class="section">
    <div class="title-setting">
      <div class="title">Color Shade</div>
    </div>
    <ng-container *ngIf="ColorService.colorShades">
      <div *ngFor="let shade of ColorService.shades">
        <app-setting-range-slider
          *ngIf="shade !== 'default'"
          [label]="shade"
          min="0"
          max="100"
          [value]="ColorService.colorShades[shade]"
          (valueChange)="changeShade($event, shade)"
        ></app-setting-range-slider>
      </div>
    </ng-container>
  </div>

  <div class="section">
    <div class="title-setting">
      <div class="title">Color Theme</div>
    </div>
    <ng-container *ngIf="ColorService.colorThemes">
      <div *ngFor="let color of ColorService.brandColors">
        <app-color-picker [label]="color" [color]="getColorSystem(color)"></app-color-picker>
      </div>
      <div *ngFor="let color of ColorService.systemColors">
        <app-color-picker [label]="color" [color]="getColorSystem(color)"></app-color-picker>
      </div>
      <div *ngFor="let color of ColorService.naturalColors">
        <app-color-picker [label]="color" [color]="getColorSystem(color)"></app-color-picker>
      </div>
    </ng-container>
  </div>
</div>
