<div class="container">
  <div class="template-dev">
    <h1 class="component-mg">kt-button</h1>

    <div class="component-mg">
      <h2>Default Setting</h2>
      <div class="display-box">
        <app-demo-button class="box" [name]="getName('default')"></app-demo-button>
        <app-demo-button
          class="box"
          [name]="getName('default')"
          [isEnable]="false"
        ></app-demo-button>
      </div>
      <div class="code-box">
        <code>
          {{ '<' }}<b>kt-button</b>{{ generateCode('default', '', true) }}{{ '>'
          }}{{ getName('default') }}{{ '<' }}/<b>kt-button</b>{{ '>' }}
        </code>
        <br />
        <code>
          {{ '<' }}<b>kt-button</b>{{ generateCode('default', '', false) }}{{ '>'
          }}{{ getName('default') }}{{ '<' }}/<b>kt-button</b>{{ '>' }}
        </code>
      </div>
    </div>

    <div class="component-mg">
      <h2>Sizes</h2>
      <div class="display-box row">
        <div class="box" *ngFor="let size of ButtonService.sizes">
          <app-demo-button [name]="getName(size)" [size]="size"></app-demo-button>
        </div>
      </div>
      <div class="code-box">
        <div *ngFor="let size of ButtonService.sizes">
          <code>
            {{ '<' }}<b>kt-button</b>{{ generateCode('size', size, true) }}{{ '>'
            }}{{ getName(size) }}{{ '<' }}/<b>kt-button</b>{{ '>' }}
          </code>
        </div>
      </div>
    </div>

    <div class="component-mg">
      <h2>Types</h2>
      <div class="display-box row">
        <div class="box" *ngFor="let type of ButtonService.types">
          <app-demo-button [name]="getName(type)" [type]="type"></app-demo-button>
        </div>
      </div>
      <div class="code-box">
        <div *ngFor="let type of ButtonService.types">
          <code>
            {{ '<' }}<b>kt-button</b>{{ generateCode('type', type, true) }}{{ '>'
            }}{{ getName(type) }}{{ '<' }}/<b>kt-button</b>{{ '>' }}
          </code>
        </div>
      </div>
    </div>

    <div class="component-mg">
      <h2>Types</h2>
      <div class="display-box row">
        <div class="box" *ngFor="let color of ColorService.allColors">
          <app-demo-button [name]="getName(color)" [color]="color"></app-demo-button>
        </div>
      </div>
      <div class="code-box">
        <div *ngFor="let color of ColorService.allColors">
          <code>
            {{ '<' }}<b>kt-button</b>{{ generateCode('color', color, true) }}{{ '>'
            }}{{ getName(color) }}{{ '<' }}/<b>kt-button</b>{{ '>' }}
          </code>
        </div>
      </div>
    </div>
  </div>
</div>
