<div class="container">
  <div class="template-dev">
    <h1 class="component-mg">kt-button</h1>

    <div class="component-mg">
      <h2>Default Setting</h2>
      <div class="display-box">
        <app-demo-button class="box" name="Default Button"></app-demo-button>
        <app-demo-button class="box" name="Default Button" [isEnable]="false"></app-demo-button>
      </div>
      <div class="code-box">
        <code>
          {{ '<' }}<b>kt-button</b>{{ generateCode('default', '', true) }}{{ '>' }}Default Button{{
            '<'
          }}/<b>kt-button</b>{{ '>' }}
        </code>
        <br />
        <code>
          {{ '<' }}<b>kt-button</b>{{ generateCode('default', '', false) }}{{ '>' }}Default Button{{
            '<'
          }}/<b>kt-button</b>{{ '>' }}
        </code>
      </div>
    </div>

    <div class="component-mg">
      <h2>Sizes</h2>
      <div class="display-box">
        <app-demo-button class="box" name="Small Button" size="small"></app-demo-button>
        <app-demo-button class="box" name="Medium Button" size="medium"></app-demo-button>
        <app-demo-button class="box" name="Large Button" size="large"></app-demo-button>
      </div>
      <div class="code-box">
        <code>
          {{ '<' }}<b>kt-button</b>{{ generateCode('size', 'small', true) }}{{ '>' }}Small Button{{
            '<'
          }}/<b>kt-button</b>{{ '>' }}
        </code>
        <br />
        <code>
          {{ '<' }}<b>kt-button</b>{{ generateCode('size', 'medium', true) }}{{ '>' }}Default
          Button{{ '<' }}/<b>kt-button</b>{{ '>' }}
        </code>
        <br />
        <code>
          {{ '<' }}<b>kt-button</b>{{ generateCode('size', 'large', true) }}{{ '>' }}Default
          Button{{ '<' }}/<b>kt-button</b>{{ '>' }}
        </code>
      </div>
    </div>

    <div class="component-mg">
      <h2>Types</h2>
      <div class="display-box">
        <app-demo-button class="box" name="Default Button" type="default"></app-demo-button>
        <app-demo-button class="box" name="Outline Button" type="outline"></app-demo-button>
        <app-demo-button class="box" name="Ghost Button" type="ghost"></app-demo-button>
      </div>
      <div class="code-box">
        <code>
          {{ '<' }}<b>kt-button</b>{{ generateCode('type', 'default', true) }}{{ '>' }}Default
          Button{{ '<' }}/<b>kt-button</b>{{ '>' }}
        </code>
        <br />
        <code>
          {{ '<' }}<b>kt-button</b>{{ generateCode('type', 'outline', true) }}{{ '>' }}Outline
          Button{{ '<' }}/<b>kt-button</b>{{ '>' }}
        </code>
        <br />
        <code>
          {{ '<' }}<b>kt-button</b>{{ generateCode('type', 'ghost', true) }}{{ '>' }}Ghost Button{{
            '<'
          }}/<b>kt-button</b>{{ '>' }}
        </code>
      </div>
    </div>

    <div class="component-mg">
      <h2>Colors</h2>
      <div class="display-box">
        <app-demo-button class="box" name="Primary Button" color="primary"></app-demo-button>
        <app-demo-button class="box" name="Secondary Button" color="secondary"></app-demo-button>
        <app-demo-button class="box" name="Success Button" color="success"></app-demo-button>
        <app-demo-button class="box" name="Info Button" color="info"></app-demo-button>
        <app-demo-button class="box" name="Warning Button" color="warning"></app-demo-button>
        <app-demo-button class="box" name="Danger Button" color="danger"></app-demo-button>
      </div>
      <div class="code-box">
        <code>
          {{ '<' }}<b>kt-button</b>{{ generateCode('color', 'primary', true) }}{{ '>' }}Primary
          Button{{ '<' }}/<b>kt-button</b>{{ '>' }}
        </code>
        <br />
        <code>
          {{ '<' }}<b>kt-button</b>{{ generateCode('color', 'secondary', true) }}{{ '>' }}Secondary
          Button{{ '<' }}/<b>kt-button</b>{{ '>' }}
        </code>
        <br />
        <code>
          {{ '<' }}<b>kt-button</b>{{ generateCode('color', 'success', true) }}{{ '>' }}Success
          Button{{ '<' }}/<b>kt-button</b>{{ '>' }}
        </code>
        <br />
        <code>
          {{ '<' }}<b>kt-button</b>{{ generateCode('color', 'info', true) }}{{ '>' }}Info Button{{
            '<'
          }}/<b>kt-button</b>{{ '>' }}
        </code>
        <br />
        <code>
          {{ '<' }}<b>kt-button</b>{{ generateCode('color', 'warning', true) }}{{ '>' }}Warning
          Button{{ '<' }}/<b>kt-button</b>{{ '>' }}
        </code>
        <br />
        <code>
          {{ '<' }}<b>kt-button</b>{{ generateCode('color', 'danger', true) }}{{ '>' }}Danger
          Button{{ '<' }}/<b>kt-button</b>{{ '>' }}
        </code>
      </div>
    </div>
  </div>
</div>
