<nav>
  <div class="nav">
    <div class="nav-list">
      <button class="link-btn" routerLink="/" routerLinkActive="active">Design System</button>
      <button class="link-btn" routerLink="/developer/setup-library" routerLinkActive="active">
        For Developer
      </button>
    </div>
    <div class="nav-list-center" *ngIf="showMenu && ProjectService.currentProject">
      {{ ProjectService.currentProject.name }} library
    </div>
    <div class="nav-list" *ngIf="showMenu">
      <button class="export-btn" (click)="openDialog()">Export</button>
    </div>
  </div>
</nav>
<div class="spacing"></div>
