<div class="grid">
  <div class="grid-container" *ngIf="isShowColName">
    <div class="row display-item">
      <div class="name" *ngFor="let col of cols">{{ col }}</div>
    </div>
  </div>

  <div class="grid-container" *ngFor="let row of rows">
    <div class="name-item">{{ row }}</div>
    <div class="row display-item">
      <ng-container *ngIf="useSelector">
        <div class="item cursor" *ngFor="let col of cols" (click)="onSelected(row, col)">
          <div [ngClass]="{ selected: isSelected(row, col) }"></div>
          <ng-container *ngTemplateOutlet="dataRef; context: getContext(row, col)"></ng-container>
        </div>
      </ng-container>
      <ng-container *ngIf="!useSelector">
        <div class="item" *ngFor="let col of cols">
          <ng-container *ngTemplateOutlet="dataRef; context: getContext(row, col)"></ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>
