<div class="label">
  {{ label }}
</div>
<div class="select-container">
  <div class="select" (click)="showDropdown()">
    <div class="row data">
      <app-base-color
        [color]="selected.color"
        [shade]="selected.shade"
        [customPalette]="customPalette"
      ></app-base-color>
      <div class="name">{{ selected.name }}</div>
    </div>
    <i class="material-icons">keyboard_arrow_down</i>
  </div>

  <div class="dropdown-options-container" *ngIf="showing">
    <div class="dropdown" (clickOutside)="hideDropdown()">
      <div *ngFor="let color of ColorService.getColorList(mainColor)">
        <div
          class="row data option-list"
          [class.selected]="isSelected(color)"
          (click)="onSelect(color)"
        >
          <app-base-color
            [color]="color.color"
            [shade]="color.shade"
            [customPalette]="customPalette"
          ></app-base-color>
          <div class="name">{{ color.name }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
