<div class="container">
  <div class="template">
    <h2>Button Setup</h2>
    <div class="container-a">
      <app-display-container
        [dataRef]="dataRefShape"
        [rows]="ButtonService.shapeName"
        [cols]="ButtonService.shapeName"
        [isShowColName]="false"
        [selected]="ButtonService.selected"
        (selectedChange)="changeSelected($event)"
      >
        <ng-template #dataRefShape let-data>
          <app-base-button setting="shape"></app-base-button>
        </ng-template>
      </app-display-container>

      <app-display-container
        [dataRef]="dataRefSize"
        [rows]="ButtonService.sizeName"
        [cols]="ButtonService.sizes"
        [isShowColName]="false"
        [selected]="ButtonService.selected"
        (selectedChange)="changeSelected($event)"
      >
        <ng-template #dataRefSize let-data>
          <app-base-button setting="size" [size]="data.col"></app-base-button>
        </ng-template>
      </app-display-container>
    </div>

    <h2>Button State</h2>
    <div class="container-a">
      <app-display-container
        [dataRef]="dataRefState"
        [rows]="ButtonService.states"
        [cols]="ButtonService.types"
        [selected]="ButtonService.selected"
        (selectedChange)="changeSelected($event)"
      >
        <ng-template #dataRefState let-data>
          <app-base-button setting="type" [type]="data.col" [state]="data.row"></app-base-button>
        </ng-template>
      </app-display-container>
    </div>

    <h2>Button Demo</h2>
    <div>
      <app-display-container
        [dataRef]="dataRefDemo"
        [rows]="ColorService.allColors"
        [cols]="ButtonService.types"
        [useSelector]="false"
      >
        <ng-template #dataRefDemo let-data>
          <app-demo-button [color]="data.row" [type]="data.col"></app-demo-button>
        </ng-template>
      </app-display-container>
    </div>
  </div>
  <app-dsc-button-setting></app-dsc-button-setting>
</div>
